﻿<div class="container">

    <form method="post" asp-controller="Task" asp-action="AddTask" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="Title" class="form-label">Title</label>
            <input type="text" placeholder=" enter a Title" class="form-control" name="Title" id="Title">
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <input type="text" placeholder=" enter a Description" class="form-control" name="Description" id="Description">
        </div>
        <div class="mb-3">
            <label for="DeadLine" class="form-label">DeadLine</label>
            <input type="datetime-local" placeholder=" enter a DeadLine" class="form-control" name="DeadLine" id="DeadLine">
        </div>
        <div class="mb-3">
            <label for="File" class="form-label">File</label>
            <input type="file" placeholder=" Choose File" class="form-control" name="file" id="File">
        </div>
        <button type="submit" class="btn btn-primary" id="submitBtn">submit</button>
    </form>

</div>